﻿@model LojaVirtual.Models.Produto

<h3>Teste</h3>
<br />
<h2>Produto</h2>
<b>Código : </b> @Model.Id <br />
<b>Nome : </b> @Model.Nome <br />
<b>Descrição : </b> @Model.Descrição <br />
<b>Valor : </b> @Model.Valor.ToString("C") <br />